<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    stderr="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/Symfony</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>ignore</group>
        </exclude>
    </groups>
</phpunit>
